/* --- editor --- */
.vui-workspace-editor{
	position:absolute; top:0; z-index:500; display:none; margin:0; padding:0;
}

div.scheduling {
float:left;
clear:both;
width:100%;
padding:13px 0 0 0;
background:transparent url(../image/editor-divider.png) top repeat-x;
}

#vui-editor-grid {
position:absolute;
top:20px;
bottom:20px;
right:20px;
left:65%;
background:#575757;
border:1px solid #3b3b3b;
}

div.scheduling h6 {
float:left;
font-size:100%;
margin:1px 0 0 0;
}

/* --- content --- */

.vui-editor-content {
float:left;
width:100%;
/*padding:22px 25px;*/
background:url(../image/window/editor_content_bg.png) repeat-x left top;
}

.vui-widgets-panel-wrapper {
   padding:0px 25px;
}

/* -- for Non-Nested Relators in Tabs --*/
.vui-widgets-panel-wrapper .vui-widgets-panel-wrapper {
    margin: 0;
	padding:22px 0px;
}


.vui-editor-content-inner >.x-panel-body {
	padding: 25px;
}

/* --- global : button --- */


a.btn, a.btn span {
background:transparent url(../image/global-button.png) no-repeat;
}

a.btn, a.btn-selected {
display:-moz-inline-box;
display:inline-block;
cursor:pointer;
height:26px;
font-size:90%;
margin:-2px 6px 0 0;
padding:0 6px 0 0;
color:#fff;
vertical-align:middle;
}

a.btn span, a.btn-selected span {
white-space:nowrap;
cursor:pointer;
display:-moz-inline-box;
display:inline-block;
padding:4px 10px 0 5px;
background-position:right top;
height:22px;
margin:0 -12px 0 5px;
zoom:1;
}

a.btn:hover {
color:#fff;
background-position:left -30px;
}

a.btn span:hover {
background-position:right -30px;
}

a.btn:hover span, a.btn:focus span {
background-position:right -30px;
}

a.btn-selected, a.btn-selected span {
background:transparent url(../image/global-button.png) left -61px no-repeat;
}

a.btn-selected span {
background-position:right -61px;
}


/* --- global : tabs --- */


a.vui-tab-left, a.vui-tab-left span {
background:transparent url(../image/global-tab-left.png) no-repeat;
}

a.vui-tab-left, a.vui-tab-left-selected {
display:-moz-inline-box;
display:inline-block;
cursor:pointer;
height:26px;
font-size:90%;
margin:-2px 6px 0 0;
padding:0 6px 0 0;
color:#fff;
vertical-align:middle;

}

a.vui-tab-left span, a.vui-tab-left-selected span {
white-space:nowrap;
cursor:pointer;
display:-moz-inline-box;
display:inline-block;
padding:4px 10px 0 8px;
background-position:right top;
height:22px;
margin:0 -12px 0 8px;
zoom:1;
}

a.vui-tab-left:hover {
color:#fff;
background-position:left -49px;
}

a.vui-tab-left span:hover {
background-position:right -49px;
}

a.vui-tab-left:hover span, a.vui-tab-left:focus span {
background-position:right -49px;
}

a.vui-tab-left-selected, a.vui-tab-left-selected span {
background:transparent url(../image/global-tab-left.png) left -150px no-repeat;
}

a.vui-tab-left-selected span {
background-position:right -150px;
}

a.vui-tab-center, a.vui-tab-center span {
background:transparent url(../image/global-tab-center.png) no-repeat;
}

a.vui-tab-center, a.vui-tab-center-selected {
display:-moz-inline-box;
display:inline-block;
cursor:pointer;
height:26px;
font-size:90%;
margin:-2px 6px 0 0;
padding:0 8px 0 0;
color:#fff;
vertical-align:middle;
}

a.vui-tab-center span, a.vui-tab-center-selected span {
white-space:nowrap;
cursor:pointer;
display:-moz-inline-box;
display:inline-block;
padding:4px 12px 0 6px;
background-position:right top;
height:22px;
margin:0 -14px 0 6px;
zoom:1;
}

a.vui-tab-center:hover {
color:#fff;
background-position:left -49px;
}

a.vui-tab-center span:hover {
background-position:right -49px;
}

a.vui-tab-center:hover span, a.vui-tab-right:focus span {
background-position:right -49px;
}

a.vui-tab-center-selected, a.vui-tab-center-selected span {
background:transparent url(../image/global-tab-center.png) left -61px no-repeat;
}

a.vui-tab-center-selected span {
background-position:right -61px;
}

a.vui-tab-right, a.vui-tab-right span {
background:transparent url(../image/global-tab-right.png) no-repeat;
}

a.vui-tab-right, a.vui-tab-right-selected {
display:-moz-inline-box;
display:inline-block;
cursor:pointer;
height:26px;
font-size:90%;
margin:-2px 8px 0 0;
padding:0 8px 0 0;
color:#fff;
vertical-align:middle;

}

a.vui-tab-right span, a.vui-tab-right-selected span {
white-space:nowrap;
cursor:pointer;
display:-moz-inline-box;
display:inline-block;
padding:4px 12px 0 6px;
background-position:right top;
height:22px;
margin:0 -14px 0 6px;
zoom:1;
}

a.vui-tab-right:hover {
color:#fff;
background-position:left -49px;
}

a.vui-tab-right span:hover {
background-position:right -49px;
}

a.vui-tab-right:hover span, a.vui-tab-right:focus span {
background-position:right -49px;
}

a.vui-tab-right-selected, a.vui-tab-right-selected span {
background:transparent url(../image/global-tab-right.png) left -61px no-repeat;
}

a.vui-tab-right-selected span {
background-position:right -61px;
}


/* --- global : fieldset ---*/

fieldset.light {
color:#000;
border-color:#b4b4b4;
}

fieldset.dark {
color:#fff;
border-color:#363636;
}


/* --- hide ---  */


.vui-editor-summary div.status span, .hide {
position:absolute;
top:0px;
left:-999px;
width:1px;
height:1px;
overflow:hidden;
}

/* --- Editor ribbon --- */

body.vui-editor #vui-workspace-ribbon ul li a {
background:transparent url(../image/editor-menu-icons.png) center 6px no-repeat;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-close a {
background-position:center -64px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-publishing a {
background-position:center -134px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-channels a {
background-position:center -204px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-workflow a {
background-position:center -274px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-versions a {
background-position:center -344px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-security a {
background-position:center -414px;
}

body.vui-editor #vui-workspace-ribbon ul li.vui-editor-ribbon-more a {
background-position:center -484px;
}

.vui-editor-label{
	font-weight:bold;
}

.vui-editor-properties-dock {
	float:left;
	height: 250px;
	width: 100%;
	background-color:#B9D5FF;
}

.vui-editor-properties-dock .x-panel-tbar, .vui-editor-properties-dock .vui-toolbar{
	width: 100% !important;
}

.vui-tab-content{
	background:#fff url(../image/tab/tab-content-bg.png) left bottom repeat-x;
}

.vui-editor-properties-overview {
	overflow: auto;
}

.vui-editor-properties-security-checkbox {
	margin: 0 !important;
}

.vui-editor-toolbar-button-save {
	margin-right: 5px;
}


td.vui-editor-properties-overview-general, td.vui-editor-properties-overview-publishing, td.vui-editor-properties-overview-workflow{
	vertical-align:top;
	padding: 10px 15px;
	background: url(../image/tab/vui-properties-sep.png) right top no-repeat;
}

td.vui-editor-properties-overview-history  {
	vertical-align:top;
	padding: 10px 15px;
}

.vui-editor-properties-overview-folder, .vui-editor-properties-overview-channel, .vui-editor-properties-overview-category {
	padding: 0 15px;
	white-space:nowrap;
}

.vui-editor-properties-publishing-schedulingPanelDateFields  {
	padding:0 5px;
}

.vui-editor-toolbar-properties-button{
	margin-left:5px !important; /*extjs has inline margin of 0*/
}

.x-btn .x-btn-icon.vui-editor-toolbar-properties-enabled {
	background:transparent url(../image/info/info_16x16.png) no-repeat scroll 0 0;
}

.vui-editor-properties-contextmenu-float {
	background:transparent url(../image/editor-properties-menu-float.png) no-repeat scroll 0 0;
}

.vui-editor-properties-contextmenu-dock {
	background:transparent url(../image/editor-properties-menu-dock.png) no-repeat scroll 0 0;
}

.x-tool-dock {
	background:transparent url(../image/temp_16.png) no-repeat scroll center center;
}

.vui-editor-properties-objecttype-Folder {
	background:transparent url(../image/folder/folder_browse_16x16.png) no-repeat scroll center center;
	float: left;
	white-space:nowrap;
	width:16px;
	height:16px;
}

.vui-editor-properties-objecttype-Channel {
	background:transparent url(../image/channel/channel_16x16.png) no-repeat scroll center center;
	float: left;
	white-space:nowrap;
	width:16px;
	height:16px;
}

.vui-editor-properties-objecttype-Category {
	background:transparent url(../image/classification/category_16x16.png);
	float: left;
	white-space:nowrap;
	width:16px;
	height:16px;
	margin-left:3px;
}

.vui-editor-properties-objecttype-Task {
	background:transparent url(../image/task/tasks_16x16.png) no-repeat scroll center center;
	float: left;
	white-space:nowrap;
	width:16px;
	height:16px;
}

.vui-editor-properties-overview-task-field {
	white-space:nowrap;
	padding: 2px 16px 2px 2px;
}

.vui-editor-properties-parent-path {
	white-space:nowrap;
	padding-top:10px;
}

/* --- Task ---  */
.vui-editor-task-details, .vui-editor-task-items, .vui-editor-task-inputs, .vui-editor-task-notes {
	border:1px solid #000;
}
.vui-editor-task-details{
	padding:10px;
}
.vui-editor-task-details tr{
	padding:0.5em 0;
}
.vui-editor-task-details td{
	padding:0 0 0 10px;
}

.vui-editor-task-details-label, .vui-editor-task-items-label, .vui-editor-task-inputs-label, .vui-editor-task-notes-label,
.vui-editor-task-name-label, .vui-editor-task-due-date-label, .vui-editor-task-priority-label,
.vui-editor-task-process-name-label, .vui-editor-task-process-due-date-label, .vui-editor-task-description,
.vui-editor-task-note-user-value, .vui-editor-task-note-date-value {
	font-weight: bold;
}

/* ---- Publishing ---- */
.vui-editor-properties-publishing {
	overflow: auto;
}


td.vui-editor-properties-publishing-scheduling{
	vertical-align:top;
	padding: 7px 8px;
	background: url(../image/tab/vui-properties-sep.png) right top no-repeat;
}
.vui-editor .vui-editor-content-inner h2{
	margin:1em 0 0 0;
	font-weight:bold;
	font-size:1.3em;
}


.vui-editor-content .vui-editor-content-no-padding{
	padding:0;
}
.vui-editor-content .vui-editor-nested{
	border:2px solid #e7c329 !important;
}

.vui-window-editor .vui-editor-nested .vui-header-title-relator{
	padding: 2px 22px;
	top: 5px !important;
}

.vui-window-editor .vui-editor-nested .vui-header-title-relator span{
	font-weight:bold;
	font-size:1.5em;
}

.vui-window-editor .vui-editor-nested .vui-header-title-relator button{
	height:24px;
	line-height:24px;
}

.vui-window-editor .vui-editor-nested .vui-header-title-relator .x-btn-default-toolbar-small-over {
    background-color: none transparent;
}

.vui-window-editor .vui-editor-nested .vui-toolbar-relator{
	height:45px
}

.vui-widget-relator-toolbar-links span{
	padding-right:15px;
	background:transparent url(../image/arrow-right.png) right center no-repeat;
}
.vui-editor-nested .vui-toolbar-relator td{
	height:36px;
	line-height:36px;
}

.vui-ie .vui-editor-nested .vui-toolbar-relator td{
	height:40px;
	line-height:40px;
}

.vui-editor .vui-objecttype-Channel {
	background: transparent url(../image/channel/channel_24x24.png) no-repeat 0 50%
}

.vui-button.x-btn-text-icon .x-btn-icon-small-left .vui-editor-version-button-cls {
	margin-right: 5px;
	padding-left: 9px;
}

.vui-tab-content-version-publish-date {
	word-wrap: break-word;
	white-space: pre-wrap;
	width:auto;
}

/* Archive View Item */
.vui-archive-header-details-panel {
	 background :url("../image/vext/tbar/background.png") repeat-x scroll 0 0 transparent;
	 padding:5px 5px 5px 5px;
 }
.vui-archiveview-header-edition-details-panel {
	 background :url("../image/tab/tab-strip-bg.png") repeat-x scroll 0 0 #EBEBEB;
}
.vui-archiveview-header-edition-details-panel-row {
	border-right: 1px solid #FFFFFF !important;
	width:50%;
}

.vui-archiveview-header-edition-details-cell {
	padding-right: 5px;
	vertical-align: text-top;
	height: 25px;
}

.vui-archiveview-header-edition-details-table {
	margin: 3px 0px 0px 5px;
}

.vui-tab-content-archive-publish-date {
	word-wrap: break-word;
	white-space: pre-wrap;
	width: 130px;
}

.vui-tab-table-column .vui-archiveview-header-edition-details-cell label.x-form-cb-label {
	font-weight: bold;
	white-space: nowrap;
}

.vui-editor-properties-archives .x-small-editor .x-form-text {
	height: 20px !important;
	font-size: 100% !important;
}

.vui-editor-properties-archives .x-small-editor .x-form-field-wrap .x-form-trigger {
	 height: 23px !important;
}

.vui-editor-itemselector-cell {
	padding-bottom: 5px;
}
/* --- start site editor --- */

.vui-widget .vui-editor-site-url-protocol {
	margin-right: -3px;
}

.vui-window .vui-button .vui-editor-site-associations-ctd-grid-button-select {
	background-image: url( "../image/select/open_folder_16x16.png" );
}

.vui-window .vui-button .vui-editor-site-associations-ctd-grid-button-remove {
	background-image: url( "../image/remove/remove_16x16.png" );
}

.vui-editor-site-associations-ctd-panel {
	border: 1px solid #7D7D7C !important;
}

.vui-siteurl-textfield {
	margin-left : 50px;
	margin-top : -18px;
}
/* --- end site editor --- */
