# REQUIRED: point this to your local fileset (cs) directory. must be absolute path for unit tests.
fileset.dir=E:/Dev/freequent/fileset

# version numbering
#version.major=8
#version.minor=0
#version.revision=0
#version.patchlevel=0

# disable pre-compile of JSP files
#jsp.precompile.disable=true

# turns on debug mode. THIS MUST BE ENABLED FOR THE FOLLOWING PROPERTIES TO BE HONORED.
debug.mode=true

# ear explode mode. IF YOU SET THIS YOU MUST SET api.exploded.war property.
ear.explode.mode=true

tomcat.dir=E:/Dev/freequent/fileset/thirdparty/tomcat/lib/apache-tomcat-7.0.26

tomcat.deployer.dir=E:/Dev/freequent/fileset/thirdparty/tomcat/lib/apache-tomcat-7.0.26-deployer

tomcat.manager.url=http://localhost:8080/manager/text

tomcat.username=tomcat

tomcat.password=tomcat

context.path=/freequent

webapp.path=E:/Dev/freequent/freequent/temp/wars/scalar-freequent.war

jsp.precompile.disable=true

# propgen.jar
# point this to local bits, e.g. /data/work/common/ptree/lib/vgnpropgen.jar
#propgen.jar=/data/work/common/ptree/lib/vgnpropgen.jar

# A few propgen examples (used for testing, valid only when debug.mode=true).
# Pattern is 'propgen.<localeId>=<replacmentText>'.
# replacementText can also can start/end with ++ or --, append/prepend the
# source property's value (++) or key (--) with text, and use that as the
# replacement text.
#propgen.zh_TW=\u5468--
#propgen.fr=<hello world>
#propgen.bg=++postfix's