<?xml version="1.0" encoding="UTF-8"?>

<menus xmlns="http://www.samskritiInfo.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.samskritiInfo.com menu.xsd">
    <menu name="Admin" id="1">
        <link/>
        <enabled>true</enabled>
        <display>true</display>
        <capability type="read"><name></name></capability>
        <menuItems>
            <menu name="Manage Users" id="1.1">
                <link>manageusers</link>
                <enabled>true</enabled>
                <display>true</display>
                <capability type="read"><name>USER</name></capability>
            </menu>
			<menu name="Manage Items" id="1.2">
                <link>manageitems</link>
                <enabled>true</enabled>
                <display>true</display>
                <capability type="read"><name>ITEM</name></capability>
            </menu>
        </menuItems>
    </menu>
    <menu name="Demo" id="demo">
        <link>demo</link>
        <enabled>true</enabled>
        <display>true</display>
        <capability type="read"><name></name></capability>
    </menu>
</menus>