/*
 * Base CSS classes
 */

.fui-html, .fui-html *, .fui-html .x-form-item-label, .fui-button.x-btn .x-btn-inner, .fui-html .x-panel-header-text-default-framed,
.fui-html .x-panel-header, .fui-html .x-grid-row .x-grid-cell, .fui-html .x-column-header, .fui-html .x-form-item, .fui-html .x-form-field{
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial, sans-serif;
	color: #000000;}

.fui-html .x-form-item-label{
	font-weight: bold;}

.fui-html input.x-form-text, .fui-html textarea.x-form-field{
	background: rgba(255,255,255,1) none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
	border: 1px solid #c0c0c0;
	font-size: 13px; /*adding for consistency*/}

.fui-html textarea.x-form-field{
	padding: 2px 3px;}

.fui-html .fui-input-text{
    font-size: 13px;}

.fui-html .fui-input-select {
	font-size: 13px;
	width: 166px;
}
.fui-html label.error {
    font-size: 12px;
    font-style: normal;
    color: #cc4a4a; }

.fui-html input.error {
    border: 1px solid #e73d3d; }

.fui-html input {
	border: 1px solid #C3C3C3;
	border-radius: 3px 3px 3px 3px;
	text-indent: 2px;
	margin: 0;
	width: 166px;
	padding: 3px;
	font-weight: normal;
	font-size: 13px;}

.fui-html .x-grid-row .x-grid-cell {
	background-color: transparent !important;}

.fui-html a{
	text-decoration: none;}

.fui-body {
    min-height: 100%;
    min-width: 630px; /* 2 x (LC fullwidth + CC padding) + RC fullwidth */
    overflow: auto;
    margin: 0;
    padding: 0;
}

.fui-loader {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

#fui-header {
    width: 100%;
    height: 102px;
    background: chocolate;
}

/*** The Essential Code ***/
#fui-container {
    padding-left: 200px;      /* LC fullwidth */
    padding-right: 10px;     /* RC fullwidth + CC padding */
}

#fui-container .fui-column {
    position: relative;
    float: left;
}

#fui-center {
    padding: 10px 0px;       /* CC padding */
    width: 100%;
}

#fui-left {
    width: 180px;             /* LC width */
   /* padding: 0 10px;          /* LC padding */
    padding-left: 40px;
    right: 240px;             /* LC fullwidth + CC padding */
    margin-left: -100%;
}

#fui-right {
    width: 130px;             /* RC width */
    /* padding: 0 2px;          /* RC padding */
    margin-right: -100%;
}

#fui-footer {
    clear: both;
}

/*** IE Fix ***/
* html #fui-left {
    left: 150px;              /* RC fullwidth */
}

/*** Equal-height Columns ***/

#fui-container {
    /* overflow: hidden; */
}

#fui-container .fui-column {
   /* padding-bottom: 1001em;     /* X + padding-bottom */
    /* margin-bottom: -1000em;     /* X */
    min-height: 400px;
}

/*** Footer Fix ***/

* html body {
    overflow: hidden;
}

* html #fui-footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #FFF;         /*** Same as body background ***/
}

/*** Just for Looks ***/

#header, #fui-footer {
    text-align: center;
    padding: 0.3em 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: small;
}

#fui-left {
    background: chocolate;
}

#fui-center {
    /*background: #DDD;*/
}

#fui-right {
    border: 2px solid chocolate;
    background: chocolate;
}

#fui-container .fui-column {
    padding-top: 1em;
    text-align: justify;
}

.fui-editor-no-native-close .ui-dialog-titlebar-close {
	display: none;
}

.fui-tool-button {
	height: 20px;
	width: 30px;
	float: right;
	clear: left;
	top: -25px;
	right: -15px;
}
/*** Start Editor ***/
.fui-editor .ui-dialog-titlebar {
	height: 25px; }

.fui-editor .ui-dialog-buttonpane {
	padding: 0 !important; }

.fui-editor .fui-editor-content.ui-dialog-content {
    padding-right: 2%;
    width: 98% !important; 
    overflow: auto; }

.fui-widget-required-flag {
    color: #BA1414;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.005em;
    vertical-align: middle;
}

/*** End Editor css***/

.fui-grid-actions {
list-style: none;
white-space: nowrap;
}
.fui-grid-action {
float: left;
display: inline;
list-style: none;
margin: 0 5px 1px 0;
background-repeat: no-repeat;
background-position: 0 0;
white-space: nowrap;
}