<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="com.scalar.freequent.auth.service.AuthService" class="com.scalar.freequent.auth.service.AuthServiceImpl" scope="prototype"/>
	<bean id="com.scalar.freequent.service.users.UserService" class="com.scalar.freequent.service.users.UserServiceImpl" scope="prototype"/>
	<bean id="com.scalar.freequent.service.ItemDataService" class="com.scalar.freequent.service.ItemDataServiceImpl" scope="prototype"/>
	<bean id="com.scalar.freequent.service.CategoryDataService" class="com.scalar.freequent.service.CategoryDataServiceImpl" scope="prototype"/>
	<bean id="com.scalar.freequent.service.UnitDataService" class="com.scalar.freequent.service.UnitDataServiceImpl" scope="prototype"/>
	<bean id="com.scalar.freequent.service.GroupDataService" class="com.scalar.freequent.service.GroupDataServiceImpl" scope="prototype"/>


    <bean id="com.scalar.freequent.dao.UserDataDAO" class="com.scalar.freequent.dao.UserDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.UserCapabilityInfoDAO" class="com.scalar.freequent.dao.UserCapabilityInfoDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.CapabilityInfoDAO" class="com.scalar.freequent.dao.CapabilityInfoDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.CategoryAssocDataDAO" class="com.scalar.freequent.dao.CategoryAssocDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.CategoryDataDAO" class="com.scalar.freequent.dao.CategoryDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.GroupDataDAO" class="com.scalar.freequent.dao.GroupDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.ItemDataDAO" class="com.scalar.freequent.dao.ItemDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.RecordDataDAO" class="com.scalar.freequent.dao.RecordDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<bean id="com.scalar.freequent.dao.UnitDataDAO" class="com.scalar.freequent.dao.UnitDataDAO" scope="prototype">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>
